/* Write your CSS code here */
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.contact {
  height: 150px;
}
.contact-description {
  color: #551e53;
  font-family: 'Roboto';
  font-size: 30px;
  line-height: 56px;
}
